## Derived Files
coverage.xml
.claude/

# Python
_old/
test.py
project_files/
*.py[cod]
*.egg-info
.eggs/
.pytest_cache/
.tox
.vscode
.coverage

# Other
images_rc.py
config/ramsis_config_public.yml
CLAUDE.md

## Development Tools

# PyCharm IDE
.idea/

# Vim
*.swp

# Sphinx
doc/manual/_build
doc/_build

# QT Creator
*.autosave

# Virtual environment
venv*
env/
env*/
.env
.env.test

## OS specific files

# Mac
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
thumbs.db
Thumbs.db


## Config files
settings.yml

.env.worker
